:root {
}

html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#wrapper {
  height: 100%;
}

#game {
  z-index: 0;
  cursor: none;
  position: absolute;
  inset: 0;
}
