.Menu__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Menu__card > * + * {
  margin-top: var(--space-s);
}

.Menu__wrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
